body {
    background-color:white;        /*rgb(10, 10, 10);*/
    color:black;
}
/*.navbar-default{
    background-color: black;
}*/
h2{
    padding-left: 20px;
}
label{
    color: black;
}
/*.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #c7c7c7;
    background-color: #292225;
}*/
.between{
    /*  background-color: white;*/

  /*  background-color:!*#eee *!  rgb(248,229,152) !*#bfa577*!!*rgb(119, 71, 71)*!!*rgb(158, 126, 126)*!;"*/

}



.active {
        color: white;
}

.nav-bar {
    top: 110%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
}



footer {


     background-color: #f2f2f2;
    padding: 30px 0 10px;
    color: #636363;
}

footer{
    padding-left: 15px;
    padding-right: 15px;
}


h2{
    font-family: 'Courgette', cursive;
   /* margin-left: 100px;*/
}

.site-header {
    padding: 15px 0;
    background-color: #204a80;
    color: #f1ec5e;
}

p{
    font-family: Stencil;
}

/*div.row {
    border: 1px solid;
    padding-top: 20px;
   background-color: #F8F6F2;
}*/

.contact{
    text-align: center;
}



.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu{
    background: rgba(20,100,223,0.53) 75%;
}

.popup:hover{
    width: 100px;
    height:100px;
}
